<div class="container mt-4">
    <table class="table table-striped table-hover table-bordered text-center align-middle">
      <thead class="table-primary">
        <tr>
          <th>emp id</th>
          <th>emp name</th>
          <th>role</th>
          <th>salary</th>
          <th>status</th>
          <th>Delete Action</th>
          <th>View Action</th>
        </tr>
      </thead>
      <tbody>
        
        @for(emp of employees; track $index){
        <tr>
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.role }}</td>
          <td>{{ emp.salary }}</td>
          <td>{{ emp.status }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onClickDelete(emp.id)" type="button">
              <!-- <fa-icon [icon]="faDeleteLeft"></fa-icon> -->
               delete
            </button>
          </td>
          <td>
            <button
              class="btn btn-info btn-sm"
              
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
            view
              <!-- <fa-icon [icon]="faView"></fa-icon> -->
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
